<%- include('header') %>
<%- include('nav') %>

  <section id="content">

    <section class="main padder">

      <div class="clearfix">

        <h4><i class="icon-edit"></i>添加用户</h4>

      </div>

      <div class="row">

        <div class="col-lg-12">

          <section class="panel">

            <form class="form-horizontal" method="post" data-validate="parsley" enctype="multipart/form-data">

              <div class="form-group">

                <label class="col-lg-3 control-label">相片</label>

                <div class="col-lg-9 media">

                  <div class="bg-light pull-left text-center media-large thumb-large"><i class="icon-user inline icon-light icon-3x m-t-large m-b-large"></i></div>

                  <div class="media-body">

                    <input data-required="true" type="file" name="file" title="选择图片" class="btn btn-small btn-info m-b-small"><br>

                    <!-- <button class="btn btn-small btn-default">删除</button> -->

                  </div>

                </div>

              </div>

              <div class="form-group">

                <label class="col-lg-3 control-label">邮箱</label>

                <div class="col-lg-8">

                  <input type="text" name="email" placeholder="test@example.com" class="bg-focus form-control" data-required="true" data-type="email">

                </div>

              </div>

              <div class="form-group">

                <label class="col-lg-3 control-label">密码</label>

                <div class="col-lg-8">

                  <input data-required="true" type="password" name="password" placeholder="Password"  data-rangelength="[6,30]" class="bg-focus form-control">

                  <div class="line line-dashed m-t-large"></div>

                </div>

              </div>

              <div class="form-group">

                <label class="col-lg-3 control-label">用户名</label>

                <div class="col-lg-8">

                  <input type="text" data-required="true" name="username" placeholder="Username" data-required="true" class="form-control">

                </div>

              </div>

              <div class="form-group">

                <label class="col-lg-3 control-label">权限</label>

                <div class="col-lg-4">

                  <select name="type" class="form-control">

                    <option value="1">管理员</option>

                    <option value="2">编辑</option>

                  </select>

                </div>

              </div>

              <div class="form-group">

                <label class="col-lg-3 control-label">简介</label>

                <div class="col-lg-8">

                  <textarea data-required="true" name="profile" placeholder="Profile" rows="5" class="form-control" data-trigger="keyup" data-rangelength="[1,30]"></textarea>

                </div>

              </div>

              <div class="form-group">

                <div class="col-lg-9 col-offset-3">

                  <button type="reset" class="btn btn-white">重置</button>

                  <button type="submit" class="btn btn-primary">添加</button>

                </div>

              </div>

            </form>

          </section>



        </div>


      </div>

    </section>

  </section>



<%- include('footer') %>
