  <footer id="footer">

    <div class="text-center padder clearfix">

      <p>

        <small>&copy; Alan 2017, for Alan's blog.</small><br><br>

        <!-- <a href="#" class="btn btn-mini btn-circle btn-twitter"><i class="icon-twitter"></i></a>

        <a href="#" class="btn btn-mini btn-circle btn-facebook"><i class="icon-facebook"></i></a>

        <a href="#" class="btn btn-mini btn-circle btn-gplus"><i class="icon-google-plus"></i></a> -->

      </p>

    </div>

  </footer>

  <a href="#" class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>

  <!-- / footer -->
  <script src="/js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/js/bootstrap.js"></script>

  <!-- markdown -->
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <!-- app -->
  <script src="/js/app.js"></script>

  <script src="/js/app.plugin.js"></script>

  <script src="/js/app.data.js"></script>

  <script src="/js/fuelux/fuelux.js"></script>

  <script src="/js/slider/bootstrap-slider.js"></script>

  <script src="/js/file-input/bootstrap.file-input.js"></script>
  <!-- Sparkline Chart -->

  <!-- combodate -->

  <script src="/js/combodate/moment.min.js"></script>

  <script src="/js/combodate/combodate.js"></script>

  <!-- parsley -->

  <script src="/js/parsley/parsley.min.js"></script>

  <script src="/js/charts/sparkline/jquery.sparkline.min.js"></script>

  <!-- Easy Pie Chart -->

  <script src="/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>

  <script src="/js/ie/excanvas.js"></script>

  <script type="text/javascript">
    $(document).ready( function () {
      // 延时清除掉成功、失败提示信息
      if ($('#notice-success').length > 0) {
        $('#notice-success').fadeOut(5000)
      } else if ($('#notice-error').length > 0) {
        $('#notice-error').fadeOut(5000)
      }
    })

  </script>
</body>

</html>



<!-- <script type="text/javascript">
   $(document).ready( function () {
      // 延时清除掉成功、失败提示信息
      if ($('.ui.success.message').length > 0) {
        $('.ui.success.message').fadeOut(3000)
      } else if ($('.ui.error.message').length > 0) {
        $('.ui.error.message').fadeOut(3000)
      }
      // //  点击按钮弹出下拉框
      // $('.ui.dropdown').dropdown();

    })
  </script>
  </body>
</html>
 -->
