<!-- nav -->

  <nav id="nav" class="nav-primary visible-lg nav-vertical">

    <ul class="nav" data-spy="affix" data-offset-top="50">


      <li class="dropdown-submenu">

        <a href="#"><i class="icon-user icon-xlarge"></i>用户</a>

        <ul class="dropdown-menu">

          <li><a href="/admin/alluser">所有用户</a></li>

          <li><a href="/admin/adduser">添加用户</a></li>
          <li><a href="/admin/myInformation">我的个人资料</a></li>

        </ul>

      </li>

      <li class="dropdown-submenu">

        <a href="#"><i class="icon-edit icon-xlarge"></i>文章</a>

        <ul class="dropdown-menu">

          <li><a href="/admin/allArticle">所有文章</a></li>

          <li><a href="/admin/writing">写文章</a></li>

        </ul>

      </li>


    </ul>

  </nav>

  <!-- / nav -->
