<div class="row notice-box">

  <% if (success) { %>
    <div id="notice-success" class="alert alert-success text-center" role="alert"><%= success %></div>
  <% } %>

  <% if (error) { %>
    <div id="notice-error" class="alert alert-danger text-center" role="alert"><%= error %></div>
  <% } %>

</div>

<style type="text/css">
  .notice-box{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
  }

</style>
